.completeHugPost{
	border: 1px solid black;
}

.footer{
	background-color: black;
	font-family: "Optima";
	color:white;
	position: relative;
	margin-bottom: 0;
	padding: 3%;
}

.comment-box{
	margin-bottom: 3%;
}