.completeHugPost{
	border: 1px solid black;
}

.footer{
	background-color: black;
	font-family: "Optima";
	color:white;
	position: relative;
	margin-bottom: 0;
	padding: 3%;
	max-height: 50px;
}

.comment-box{
	margin-bottom: 3%;
}

.hugCard-flex{
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
}

#google-map-container{
	height: 500px;
	width: 500px;
}

body{
	padding-bottom: 50px;
}

